$light: white;
$input-border-radius: 0;
$primary: #000000;
$card-border-radius: 0;
$badge-border-radius: 0;
$modal-content-border-radius: 0;
$modal-fade-transform: scale(.8);
// $navbar-light-color: rgb(92, 55, 30);
// $navbar-light-brand-color: rgb(92, 55, 30);


@import '../node_modules/bootstrap/scss/bootstrap.scss';