
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.15em;
}

a {
    text-decoration: underline !important;
    color: rgb(41, 41, 41);
}

nav {
    gap: 30px;
}

#feature {
    max-width: 50%;
}

ul {
    list-style: none;
}

.limit {
    max-width: 60%;
}