
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.05em;
}

a {
    text-decoration: underline !important;
    color: rgb(0, 0, 0);
}

#comm a {
    text-decoration: underline !important;
    color: rgb(243, 243, 243);
}

nav {
    gap: 30px;
}

#feature {
    max-width: 50%;
}

#comm-list {
    list-style: inside;
}

ul {
    list-style: none;
}

.limit {
    max-width: 60%;
}

.label {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: white;
}

.label-holder {
    position: relative;
}
